/*
Part of the bootstrap3 mixins
*/
.transition(@transition) {
  -webkit-transition: @transition;
  transition: @transition;
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
       -o-user-select: @select;
          user-select: @select;
}


// Shortcut to switch from on type to another
.font(@_) {}

.font(normal) {
    font-family: 'Open Sans', Arial, sans-serif;
}

.font(heading) {
    font-family: 'Raleway', Comic, serif;
    font-weight: 800;
}
